body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
html,
body {
  height: 100%;
  width: 100%;
}

@keyframes searchOpen {
  from { transform: rotate(180deg); }
  to { transform: rotate(0deg); }
}

@keyframes searchClosed {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}

.search-icon {
  color: white;
}

.search-icon:hover {
  cursor: pointer;
}

.search-icons {
  padding: 20px;
}

.search-entry {
  padding: 40px;
}

.search-bar {
  width: 100%;
  height: 10vh;
  background-color: #303030;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.search-box {
  padding: 30px; 
  background-color: #111111; 
  border-radius: 15px;
  margin: 20px;
}

.errors {
  list-style-type: none;
  padding-inline-start: 0px;
  padding-top: 10px;
  word-wrap: break-word;
}

.important {
  text-align: center;
}

.result-item {
  text-align: center;
}

.chosen-item,
.result-item:hover {
  color: white;
  background-color: #212529 !important;
  cursor: pointer;
}

.mobile-result {
  width: 100%;
  margin: 0px !important;
}

.mobile-results-page {
  display: none !important;
}

@media screen and (max-width: 450px) {
  .desktop-results-page {
    display: none !important;
  }

  .mobile-results-page {
    display: flex !important;
  }

  .result-item {
    padding: 4px !important;
    width: 100%;
  }

  .list-group {
    width: 100%;
  }

  .important {
    padding-left: 0px !important;
    padding-right: 0px !important; 
  }

  .search-box {
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 663px) {
  .errors {
    padding-left: 30px;
  }
}