<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shorter Recipes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#303030" />
    <meta
      name="description"
      content="A simple application that can extract recipe information and display it in a straight-forward manner."
    />
    <link rel="canonical" href="https://shorter.recipes/" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script>{{initial_state}}</script>
    <meta property="og:title" content="Shorter Recipes" />
    <meta property="og:description" content="Come to cook, not read. Use shorter recipes to improve cook time." />
    <meta property="og:site_name" content="shorter.recipes" />
  </head>
  <body>
    <noscript>
      You'll need Javascript enabled to use this website. We hope to have a non-JS version eventually!
    </noscript>
    <div id="root">{{content}}</div>
  </body>
</html>